<h3 *ngIf="childFudList.length > 0">Food List!</h3>
<select *ngIf="childFudList.length > 0" (change)="onChange($event.target.value)">
  <option value="all">Show all</option>
  <option value="high">Show only high calorie foods</option>
  <option value="low">Show only low calories foods</option>
</select>
  <h3 *ngIf="childFudList.length === 0">No Foods yet!</h3>
<div class="food" *ngFor="let currentFud of childFudList | calories: calorieFilter">
  <fud-display
    [fud]="currentFud"
  ></fud-display>
</div>
