<div class="container">
  <div class = "jumbotron">
    <h1>You're Doing Great</h1>
    <h3>A Non-Judgemental Meal-Tracker</h3>
    <div class="form-horizontal">
      <new-fud *ngIf="!fudToEdit"
        (newFudSender) = "addFud($event)"
      ></new-fud>
      <edit-fud *ngIf="fudToEdit"
        [childFudToEdit] = "fudToEdit"
        (editDoneSender) = "finishedEditing()"
      ></edit-fud>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="list">
        <fud-list
          [childFudList] = "masterFudList"
        ></fud-list>
      </div>
    </div>
    <div class="col-md-4">
      <div class="summary">
        <summary-display
          [summaryFudList] = "masterFudList"
        ></summary-display>
      </div>
    </div>
  </div>
</div>
